body
{ color: azure; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

@media only screen and (max-width: 480px) {
    .medium {display: none;}
    .large {display: none;}
    body {background-color: rgb(70, 40, 40); font-size: 16; max-width: 96%; margin: auto; word-wrap: break-word;
    }
}

@media only screen and (min-width: 480px) and (max-width:1024px) {
    .small {display: none;}
    .large {display: none;} 
    body {background-color: rgb(40, 70, 40); font-size: 20; max-width:90%; margin: auto; word-wrap: break-word;
        column-count: 2; column-gap: 6px;
    }
}

@media only screen and (min-width: 1024px) {
    .medium {display: none;}
    .small {display: none;}
    body {background-color: rgb(40, 40, 70); font-size: 24; max-width:84%; margin: auto; word-wrap: break-word;
    column-count: 3; column-gap: 8px;
    }
}